/**
 * css/action/documents/wiki.css
 * 
 * アクション - documents - wiki
 * 
 * @package     SamuraiWEB
 * @subpackage  www.css
 * @copyright   2007-2009 Samurai Framework Project
 * @author      hayabusa <scholar@hayabusa-lab.jp>
 */
/********************
 * 新規ページ作成
 *******************/
    #samurai #contents.documents.wiki.tools .new table.form td.input .name
    {
        width : 420px;
    }


/********************
 * 編集
 *******************/
    #samurai #contents.documents.wiki.tools .edit table.form td.input .title
    {
        width : 420px;
    }
    #samurai #contents.documents.wiki.tools .edit table.form td.input .content
    {
        width : 420px;
        height : 400px;
    }


/********************
 * diff
 *******************/
    #samurai #contents.documents.wiki.tools .merge table.diff
    {
        width : 100%;
        border : 1px solid #CCCCCC;
        margin : 10px 0px;
    }
    #samurai #contents.documents.wiki.tools .merge table.diff th
    {
        padding : 2px;
        background : #EEEEEE;
        border : 1px solid #CCCCCC;
        text-align : center;
    }
    #samurai #contents.documents.wiki.tools .merge table.diff td
    {
        padding : 2px;
        font-size   : 90%;
        font-family : 'ＭＳ ゴシック', monospace;
    }
    #samurai #contents.documents.wiki.tools .merge table.diff td.line
    {
        width : 25px;
        text-align : right;
        background : #EEEEDD;
        border : 1px solid #CCCCCC;
    }
    #samurai #contents.documents.wiki.tools .merge table.diff td.context
    {
        background : #FFFFFF;
    }
    #samurai #contents.documents.wiki.tools .merge table.diff td.added
    {
        background : #DDFFDD;
    }
    #samurai #contents.documents.wiki.tools .merge table.diff td.deleted
    {
        background : #FFDDDD;
    }
    #samurai #contents.documents.wiki.tools .merge table.diff td.conflict
    {
        color : #FFFFFF;
        background : #D87878;
    }


/********************
 * 変更履歴
 *******************/
    #samurai #contents.documents.wiki.tools .history ul.menu
    {
        padding-left : 10px;
    }
    #samurai #contents.documents.wiki.tools .history ul.menu li
    {
        list-style-type : disc;
        list-style-position : inside;
        margin-bottom : 5px;
    }
    #samurai #contents.documents.wiki.tools .history ul.menu ul.histories
    {
        padding-left : 30px;
    }
    #samurai #contents.documents.wiki.tools .history ul.menu ul.histories li
    {
        list-style-type : circle;
    }


/********************
 * 添付ファイル
 *******************/
    #samurai #contents.documents.wiki.tools .attaches ul.list li
    {
        line-height : 18px;
    }
    #samurai #contents.documents.wiki.tools .attaches ul.list li .tag
    {
        color : #666666;
    }
    #samurai #contents.documents.wiki.tools .attaches ul.list li img
    {
        vertical-align : top;
    }
    #samurai #contents.documents.wiki.tools .attach.done .example
    {
        font-weight : bold;
    }
