/**
 * css/layout/2column.standard.css
 * 
 * レイアウト - 2column
 * 
 * @package     SamuraiWEB
 * @subpackage  www.css
 * @copyright   2007-2009 Samurai Framework Project
 * @author      hayabusa <scholar@hayabusa-lab.jp>
 */
/** インポート **/
@import url('./standard.css');


/********************
 * layout
 *******************/
    #samurai #contents #main
    {
        float : left;
        width : 570px;
        padding : 10px 5px 10px 10px;
    }
    #samurai #contents #sidebar
    {
        float : right;
        width : 200px;
        padding : 10px 10px 10px 5px;
    } 



/********************
 * main
 *******************/
    #samurai #contents #main .column
    {
        clear : both;
        margin-bottom : 15px;
    }
    /** 見出し **/
    #samurai #contents #main h2
    {
        padding : 5px 2px;
        color : #555555;
        font-size : 14px;
        font-weight : bold;
        border-bottom : 1px solid #999999;
        margin-bottom : 10px;
    }
    #samurai #contents #main h3
    {
        padding : 2px 5px;
        color : #555555;
        font-size : 14px;
        font-weight : bold;
        border-left : 8px solid #669966;
        margin-bottom : 10px;
    }
    #samurai #contents #main h4
    {
        padding : 2px 5px;
        color : #555555;
        font-size : 12px;
        font-weight : bold;
        border-left : 5px solid #666666;
        margin-left : 2px;
        margin-bottom : 10px;
    }




/********************
 * フォーム
 *******************/
    #samurai #contents #main table.form
    {
        width : 100%;
        margin-left : 0px;
        margin-right : 0px;
    }
    #samurai #contents #main table.form th
    {
        width : 120px;
        background : #F0F0F0;
        padding : 5px;
        text-align : left;
        vertical-align : top;
    }
    #samurai #contents #main table.form td
    {
        padding : 5px;
    }
    #samurai #contents #main table.form td.input img.antispam
    {
        margin-bottom : 5px;
    }
    #samurai #contents #main table.form td.submit
    {
        padding : 10px;
        text-align : right;
    }
    #samurai #contents #main table.form td.submit input
    {
        margin : 0px 5px;
    }
    #samurai #contents #main table.form td.input .error
    {
        padding : 5px;
        padding-left : 27px;
        margin-bottom : 5px;
        color : #990000;
        background : #FEE1E1 url('../../image/icon/error.png') 5px 5px no-repeat;
        text-align : left;
    }

    
    
    
    
    
    
    
    
/********************
  リスト
********************/
    #bokumachi #contents #main TABLE.list
    {
        width : 100%;
    }
    #bokumachi #contents #main TABLE.list TH
    {
        padding : 5px;
        border : 1px solid #CCCCCC;
        background : #F5F5F5;
        text-align : center;
        color : #666666;
    }
    #bokumachi #contents #main TABLE.list TD
    {
        padding : 5px;
        border : 1px solid #CCCCCC;
        background : #FFFFFF;
    }
    #bokumachi #contents #main TABLE.list TD.none
    {
        padding : 10px;
        text-align : right;
    }
    
    #bokumachi #contents #main .column UL LI.none
    {
        padding : 5px;
        text-align : right;
    }
    
    #bokumachi #contents #sidebar .column .box .middle UL.list LI
    {
        
    }
    
    
/********************
  フォーム
********************/
    #bokumachi #contents #main TABLE.form
    {
        width : 100%;
        border : 1px solid #CCCCCC;
    }
    #bokumachi #contents #main TABLE.form TH
    {
        width : 115px;
        padding : 5px;
        padding-left : 10px;
        text-align : left;
        vertical-align : top;
        color : #666666;
        border : 1px solid #CCCCCC;
        background : #F5F5F5 url('../../image/layout/form.th.optional.png') left repeat-y;
    }
    #bokumachi #contents #main TABLE.form TH.required
    {
        background : #F5F5F5 url('../../image/layout/form.th.required.png') left repeat-y;
    }
    #bokumachi #contents #main TABLE.form TD.input
    {
        padding : 5px;
        vertical-align : top;
        border : 1px solid #CCCCCC;
    }
    #bokumachi #contents #main TABLE.form TD.submit
    {
        padding : 20px;
        text-align : center;
    }
    #bokumachi #contents #main TABLE.form TD.submit INPUT.submit,
    #bokumachi #contents #main TABLE.form TD.submit BUTTON.submit
    {
        height : 34px;
        margin : 0px 10px;
        padding-left : 15px;
        padding-right : 15px;
        border : 1px solid #BBBBBB;
        color : #444444;
        background : #E5E5E5 url('../../image/layout/form.submit.png') repeat-x;
        vertical-align : middle;
    }
    #bokumachi #contents #main INPUT.dummy
    {
        color : #777777;
    }
    #bokumachi #contents #main TABLE.form .example
    {
        padding : 5px;
        color : #777777;
    }
    
    
/********************
  pager
********************/
    #bokumachi #contents #main .pager
    {
        padding : 10px;
        text-align : center;
    }
    #bokumachi #contents #main .pager .now
    {
        padding : 5px;
        margin-left : 3px;
        margin-right : 3px;
        background : #FFFFFF;
        border : 1px solid #CCCCCC;
        font-weight : bold;
    }
    #bokumachi #contents #main .pager .page
    {
        margin-left : 3px;
        margin-right : 3px;
        border : 1px solid #CCCCCC;
    }
    #bokumachi #contents #main .pager .prev
    {
        margin-right : 7px;
        border : 1px solid #CCCCCC;
    }
    #bokumachi #contents #main .pager .next
    {
        margin-left : 7px;
        border : 1px solid #CCCCCC;
    }
    #bokumachi #contents #main .pager A
    {
        padding : 5px;
        background : #EEEEEE;
    }
    #bokumachi #contents #main .pager A:hover
    {
        background : #FFFFFF;
        color : #333333;
    }
