/**
 * css/layout/2column.standard.css
 * 
 * レイアウト - 2column
 * 
 * @package     SamuraiWEB
 * @subpackage  www.css
 * @copyright   2007-2009 Samurai Framework Project
 * @author      hayabusa <scholar@hayabusa-lab.jp>
 */
/** インポート **/
@import url('./standard.css');


/********************
 * layout
 *******************/
    #samurai #contents #main
    {
        float : left;
        width : 570px;
        padding : 10px 5px 10px 10px;
    }
    #samurai #contents #sidebar
    {
        float : right;
        width : 200px;
        padding : 10px 10px 10px 5px;
    } 



/********************
 * main
 *******************/
    #samurai #contents #main .column
    {
        clear : both;
        margin-bottom : 15px;
    }
    /** 見出し **/
    #samurai #contents #main h2
    {
        padding : 5px 2px;
        color : #555555;
        font-size : 14px;
        font-weight : bold;
        border-bottom : 1px solid #999999;
        margin-bottom : 10px;
    }
    #samurai #contents #main h3
    {
        padding : 2px 5px;
        color : #555555;
        font-size : 14px;
        font-weight : bold;
        border-left : 8px solid #669966;
        margin-bottom : 10px;
    }
    #samurai #contents #main h4
    {
        padding : 2px 5px;
        color : #555555;
        font-size : 12px;
        font-weight : bold;
        border-left : 5px solid #666666;
        margin-left : 2px;
        margin-bottom : 10px;
    }




/********************
 * フォーム
 *******************/
    #samurai #contents #main table.form
    {
        width : 100%;
        margin-left : 0px;
        margin-right : 0px;
    }
    #samurai #contents #main table.form th
    {
        width : 120px;
        background : #F0F0F0;
        padding : 5px;
        text-align : left;
        vertical-align : top;
    }
    #samurai #contents #main table.form td
    {
        padding : 5px;
    }
    #samurai #contents #main table.form td.input img.antispam
    {
        margin-bottom : 5px;
    }
    #samurai #contents #main table.form td.submit
    {
        padding : 10px;
        text-align : right;
    }
    #samurai #contents #main table.form td.submit input
    {
        margin : 0px 5px;
    }
    #samurai #contents #main table.form td.input .error
    {
        padding : 5px;
        padding-left : 27px;
        margin-bottom : 5px;
        color : #990000;
        background : #FEE1E1 url('../../image/icon/error.png') 5px 5px no-repeat;
        text-align : left;
    }
    #samurai #contents #main table.form .example
    {
        margin : 0px;
        padding : 5px;
        color : #777777;
    }




/********************
 * sidebar
 *******************/
    #samurai #contents #sidebar .column
    {
        margin-bottom : 15px;
    }
    #samurai #contents #sidebar .column h5
    {
        padding : 6px 8px;
        font-weight : bold;
        /*background : url('../../image/layout/sidebar.tag.h5.png') no-repeat left top;*/
    }
