/**
 * css/layout/phpdoc.css
 * 
 * レイアウト - phpdoc
 * 
 * @package     Samurai
 * @subpackage  www.css
 * @copyright   BEFOOL,Inc.
 * @author      Hayabusa <scholar@hayabusa-lab.jp>
 */
/** インポート **/
@import url('./standard.css');


/********************
 * layout
 *******************/
    body
    {
        margin : 0px;
        padding : 0px;
    }
    #samurai a
    {
        color : #669933 !important;
        text-decoration : none;
    }
    #samurai a:hover
    {
        text-decoration : underline;
    }
    /** header **/
    #samurai #header ul
    {
        margin : 0px;
        padding : 0px;
    }
    #samurai #header ul li
    {
        margin : 0px;
        padding : 0px;
        list-style : none;
    }
    #samurai #header ul li a.samurai
    {
        color : #333333 !important;
    }
    /** main **/
    #samurai #contents ul.breads
    {
        margin : 0px;
    }
    #samurai #contents ul.breads li
    {
        list-style : none;
    }
    #samurai #contents #mainnav
    {
        margin : 0px;
        border-width : 0px 0px 1px 0px;
    }
    #samurai #contents #mainnav li a
    {
        color : #333333 !important;
    }
    #samurai #contents #mainnav li.active a
    {
        color : #FFFFFF !important;
    }
    #samurai #contents #main
    {
        width : 780px;
        padding : 10px;
    }
    #samurai #contents #main table.main td.content
    {
        padding-left : 10px;
    }
    /** footer **/
    #samurai #footer ul
    {
        margin : 0px;
        padding : 0px;
    }



/********************
 * main
 *******************/
    /** 見出し **/
    #samurai #contents h1
    {
        margin : 0px;
    }
    #samurai #contents #main h1
    {
        padding : 5px 2px;
        color : #555555;
        font-size : 14px;
        font-weight : bold;
        border-bottom : 1px solid #999999;
        margin-bottom : 10px;
        background : none;
        letter-spacing : 0px;
    }
    #samurai #contents #main h2
    {
        padding : 2px 5px;
        color : #555555;
        font-size : 14px;
        font-weight : bold;
        border-left : 8px solid #669966;
        margin-bottom : 10px;
    }
    #samurai #contents #main h3
    {
        padding : 2px 5px;
        color : #555555;
        font-size : 12px;
        font-weight : bold;
        border-left : 5px solid #666666;
        margin-left : 2px;
        margin-bottom : 10px;
    }
    #samurai #contents #main table.overview td h3
    {
        margin-left : 0px;
    }
    #samurai #contents #main h4
    {
        margin : 5px 0px;
    }
    /** table **/
    #samurai #contents table.top
    {
        margin : 0px;
    }
    #samurai #contents table.top td.header_menu
    {
        padding : 0px;
        color : inherit;
        background : none;
    }
    #samurai #contents table.main
    {
        margin : 0px;
    }
    #samurai #contents table.top td,
    #samurai #contents table.main td
    {
        border : none;
        padding : 0px;
    }
    #samurai #contents #main table
    {
        margin : 0px;
    }
    #samurai #contents #main fieldset table td,
    #samurai #contents #main fieldset table th
    {
        padding : 1px;
        border : none;
    }
    /** hr **/
    #samurai #contents #main hr
    {
        border : none;
        background : url('../../image/layout/tag.hr.dashed.png') repeat-x;
    }
    /** ul **/
    #samurai #contents #main ul
    {
        padding-left : 0px;
        list-style-position : inside;
    }



/********************
 * クラス
 *******************/
    #samurai #contents #main table.main td.content h3.name
    {
        border-left : none;
        border-bottom : 1px dashed #999999;
        padding-bottom : 5px;
    }
    #samurai #contents #main table.main td.content table td.code
    {
        padding : 5px;
    }
