/**
 * css/layout/standard.css
 * 
 * レイアウト - ベース
 * すべてのレイアウトで共通する記述はここで行ってください。
 * 
 * @package     Samurai
 * @subpackage  www.css
 * @copyright   BEFOOL,Inc.
 * @author      Satoshi Kiuchi <satoshi.kiuchi@befool.co.jp>
 */
/********************
  header
********************/
    #samurai #header
    {
        width : 790px;
        margin : 0px auto 10px;
        padding : 6px;
        background : url('../../image/layout/header.background.png') no-repeat bottom;
    }
    #samurai #header h1
    {
        height : 1px;
        font-size : 1px;
        line-height : 0;
        text-indent : -2000px;
    }
    #samurai #header ul.menu.left li
    {
        float : left;
        height : 14px;
        margin-right : 15px;
    }
    #samurai #header ul.menu.left li a.samurai
    {
        color : #333333;
    }
    #samurai #header ul.menu.right li
    {
        float : right;
        height : 14px;
        margin-left : 15px;
    }
    
    
/********************
  contents
********************/
    #samurai #contents
    {
        width : 802px;
        margin : 0px auto 10px;
    }
    /** 俳句 **/
    #samurai #contents .top.haiku
    {
        padding : 6px;
        background : url('../../image/layout/contents.background.top.png') no-repeat top;
        font-size : 10px;
        color : #999999;
    }
    #samurai #contents .top.haiku .composed_by
    {
        float : right;
    }
    
    /** middle **/
    #samurai #contents .middle
    {
        padding : 1px;
        border-top : 1px solid #999999;
        background : url('../../image/layout/contents.background.middle.png') repeat-y;
    }
    
    /** bottom **/
    #samurai #contents .bottom
    {
        height : 10px;
        padding : 1px;
        background : url('../../image/layout/contents.background.bottom.png') no-repeat bottom;
    }
    
    
    
    
    
/********************
  footer
********************/
    #samurai #footer
    {
        width : 802px;
        margin : 0px auto 10px;
        text-align : center;
    }
    
    
/********************
  その他
********************/
    #bokumachi DIV.hr_dashed
    {
        height : 1px;
        background : url('../../image/layout/tag.hr.dashed.png') repeat-x;
    }
    
    #bokumachi DIV.error
    {
        margin : 5px 0px;
        padding : 7px;
        padding-left : 30px;
        color : #990000;
        background : #FEE1E1 url('../../image/icon/error.png') 5px 8px no-repeat;
        text-align : left;
    }
    #bokumachi UL.error
    {
        margin : 5px 0px;
        background : #FEE1E1;
    }
    #bokumachi UL.error LI
    {
        padding : 7px;
        padding-left : 30px;
        color : #990000;
        background : url('../../image/icon/error.png') 5px 8px no-repeat;
    }
    
    #bokumachi DIV.message
    {
        margin : 10px 0px;
        padding : 10px;
        border : 1px solid #CCCCCC;
    }
    #bokumachi DIV.message.attention
    {
        color : #990000;
        background : #FEE1E1;
    }
