/**
 * css/layout/standard.css
 * 
 * レイアウト - ベース
 * すべてのレイアウトで共通する記述はここで行ってください。
 * 
 * @package     Samurai
 * @subpackage  www.css
 * @copyright   BEFOOL,Inc.
 * @author      Satoshi Kiuchi <satoshi.kiuchi@befool.co.jp>
 */
/********************
  header
********************/
    #samurai #header
    {
        width : 790px;
        margin : 0px auto 10px;
        padding : 6px;
        background : url('../../image/layout/header.background.png') no-repeat bottom;
    }
    #samurai #header h1
    {
        height : 1px;
        font-size : 1px;
        line-height : 0;
        text-indent : -2000px;
    }
    #samurai #header ul.menu.left li
    {
        float : left;
        margin-right : 15px;
    }
    #samurai #header ul.menu.right li
    {
        float : right;
        margin-left : 15px;
    }
    
    
    
    
    
    #bokumachi UL#topbar
    {
        position : fixed;
        top : 0px;
        padding : 2px 0px;
        width : 100%;
        border-bottom : 1px solid #999999;
        background : #FFFFFF;
        z-index : 2000;
    }
    #bokumachi UL#topbar LI.to_portal A
    {
        float : left;
        margin-left : 3px;
        /* ポータルはまだないので */
        text-decoration : line-through;
    }
    #bokumachi UL#topbar LI.welcome
    {
        float : left;
        margin-left : 15px;
        padding-left : 0px;
    }
    #bokumachi UL#topbar LI.to_login A,
    #bokumachi UL#topbar LI.to_logout A,
    #bokumachi UL#topbar LI.to_mypage A
    {
        float : right;
        margin-left : 13px;
        margin-right : 2px;
    }
    #bokumachi UL#topbar A
    {
        color : #333333;
    }
    
    
/********************
  ヘッダー
********************/
    #bokumachi #header
    {
        width : 802px;
        margin-top : 35px;
        margin-left : auto;
        margin-right : auto;
        background : #FFFFFF url('../../image/layout/header.background.png') no-repeat;
    }
    #bokumachi #header P.pr
    {
        float : left;
        height : 17px;
        padding-top : 3px;
        padding-left : 10px;
        font-size : 10px;
    }
    #bokumachi #header H1.logo
    {
        float : left;
        margin-top : 5px;
        margin-left : 7px;
        font-size : 0px;
    }
    #bokumachi #header DIV.adsense
    {
        float : right;
        width : 468px;
        height : 60px;
        margin-top : 10px;
        margin-right : 10px;
    }
    #bokumachi #header DIV.search
    {
        float : right;
        width : 468px;
        margin-top : 5px;
        margin-right : 10px;
        text-align : right;
    }
    #bokumachi #header DIV.search INPUT
    {
        vertical-align : middle;
    }
    #bokumachi #header DIV.search INPUT.input
    {
        height : 16px;
        width  : 200px;
        margin-right : 5px;
    }
    
    /** メニュー **/
    #bokumachi #header #global_menu
    {
        width : 802px;
    }
    #bokumachi #header #global_menu LI.depth1
    {
        float : left;
        width : 90px;
        height : 35px;
    }
    #bokumachi #header #global_menu LI.center,
    #bokumachi #header #global_menu LI.right
    {
        margin-left : -1px;
    }
    #bokumachi #header #global_menu LI UL
    {
        width : 150px;
        background : #FFFFFF;
        border : 1px solid #999999;
    }
    #bokumachi #header #global_menu LI UL LI
    {
        width : 150px;
        border-top : 1px dashed #999999;
        margin-top : -1px;
        font-weight : normal;
    }
    #bokumachi #header #global_menu LI UL LI.more
    {
        background : url('../../image/layout/header.menu.li.more.png') no-repeat right 2px;
    }
    #bokumachi #header #global_menu LI UL LI.hover
    {
        font-weight : bolder;
    }
    #bokumachi #header #global_menu LI UL LI A
    {
        display : block;
        width : 130px;
        /*height : auto;*/
        padding : 5px;
        padding-right : 15px;
    }
    #bokumachi #header #global_menu DIV.dropshadow
    {
        background-color : silver;
    }
    
    /** サブメニュー **/
    #bokumachi #header #sub_menu
    {
        width : 790px;
        padding : 5px 5px 7px;
        border-left : 1px solid #999999;
        border-right : 1px solid #999999;
        border-bottom : 1px solid #999999;
        background : #FFE8D0;
    }
    #bokumachi #header #sub_menu LI
    {
        float : left;
        padding-left : 18px;
        margin-right : 10px;
        line-height : 1.2;
        background : url('../../image/layout/header.menu_sub.li.png') left center no-repeat;
    }
    #bokumachi #header #sub_menu LI A
    {
        color : #333333;
    }
    
    
    
    
    
/********************
  コンテンツ
********************/
    #bokumachi #contents
    {
        width : 800px;
        margin-left : auto;
        margin-right : auto;
        border-left : 1px solid #999999;
        border-right : 1px solid #999999;
        padding-bottom : 10px;
        background : #FFFFFF;
    }
    /** パンくず **/
    #bokumachi #contents UL#breads
    {
        width   : 780px;
        padding : 8px 10px;
        margin-bottom : 15px;
        background : url('../../image/layout/tag.hr.dashed.png') bottom repeat-x;
    }
    #bokumachi #contents UL#breads LI.bread
    {
        display : inline;
        _float : left;
    }
    #bokumachi #contents UL#breads LI.love
    {
        display : inline;
        float : right;
        margin-top : -2px;
    }
    #bokumachi #contents UL#breads LI.selected
    {
        font-weight : bolder;
    }
    
    
    
    
    
    /** フッター **/
    #bokumachi #footer
    {
        width : 800px;
        border : 1px solid #999999;
        margin : 0px auto 30px;
        padding-top : 11px;
        background : #F8F8F8 url('../../image/layout/footer.shadow.png') repeat-x;
    }
    #bokumachi #footer UL.menu
    {
        text-align : center;
        margin-bottom : 3px;
    }
    #bokumachi #footer UL.menu LI
    {
        display : inline;
        font-size : 10px;
    }
    #bokumachi #footer DIV.hr
    {
        height : 1px;
        margin-top : 10px;
        margin-bottom : 10px;
        background : url('../../image/layout/footer.hr.png') repeat-x;
    }
    #bokumachi #footer P.copyright
    {
        font-size : 10px;
        text-align : center;
        padding-bottom : 11px;
        background : url('../../image/layout/footer.shadow.png') repeat-x bottom;
    }
    
    
/********************
  アイコン
********************/
    #bokumachi .bg-icon
    {
        padding-top : 3px;
        padding-bottom : 3px;
        padding-left : 20px;
    }
    /** main **/
    #bokumachi .bg-icon.japan
    {
        background : url('../../image/icon/japan.png') 0px 0px no-repeat;
    }
    #bokumachi .bg-icon.mypage
    {
        background : url('../../image/icon/mypage.png') 0px 1px no-repeat;
    }
    #bokumachi .bg-icon.login
    {
        background : url('../../image/icon/login.png') 0px 1px no-repeat;
    }
    #bokumachi .bg-icon.logout
    {
        background : url('../../image/icon/logout.png') 0px 1px no-repeat;
    }
    #bokumachi .bg-icon.photo
    {
        background : url('../../image/icon/photo.png') 0px 0px no-repeat;
    }
    #bokumachi .bg-icon.wiki
    {
        background : url('../../image/icon/wiki.png') 0px 0px no-repeat;
    }
    #bokumachi .bg-icon.board
    {
        background : url('../../image/icon/board.png') 0px 0px no-repeat;
    }
    #bokumachi .bg-icon.question
    {
        background : url('../../image/icon/question.png') 0px 0px no-repeat;
    }
    #bokumachi .bg-icon.user
    {
        padding-top : 2px;
        background : url('../../image/icon/user.png') 0px 0px no-repeat;
    }
    #bokumachi .bg-icon.help
    {
        background : url('../../image/layout/sidebar.login.icon.question.png') 0px 0px no-repeat;
    }
    #bokumachi .bg-icon.forgot
    {
        background : url('../../image/layout/sidebar.login.icon.forgot.png') 0px 0px no-repeat;
    }
    
    
    /** shop.飲食 */
    #bokumachi .bg-icon.gourmet
    {
        background : url('../../image/icon/gourmet.png') 0px 0px no-repeat;
    }
    #bokumachi .bg-icon.japanese-food
    {
        background : url('../../image/icon/japanese-food.png') 0px 0px no-repeat;
    }
    #bokumachi .bg-icon.western-food
    {
        background : url('../../image/icon/western-food.png') 0px 0px no-repeat;
    }
    #bokumachi .bg-icon.chinese-food
    {
        background : url('../../image/icon/chinese-food.png') 0px 0px no-repeat;
    }
    #bokumachi .bg-icon.multinational-food
    {
        background : url('../../image/icon/multinational-food.png') 0px 0px no-repeat;
    }
    #bokumachi .bg-icon.drink
    {
        background : url('../../image/icon/drink.png') 0px 0px no-repeat;
    }
    #bokumachi .bg-icon.cafe
    {
        background : url('../../image/icon/cafe.png') 0px 0px no-repeat;
    }
    #bokumachi .bg-icon.restaurant-and-fastfood
    {
        background : url('../../image/icon/restaurant-and-fastfood.png') 0px 0px no-repeat;
    }
    #bokumachi .bg-icon.sweets
    {
        background : url('../../image/icon/sweets.png') 0px 0px no-repeat;
    }
    #bokumachi .bg-icon.takeout-and-delivery
    {
        background : url('../../image/icon/takeout-and-delivery.png') 0px 0px no-repeat;
    }
    #bokumachi .bg-icon.ramen
    {
        background : url('../../image/icon/ramen.png') 0px 0px no-repeat;
    }
    #bokumachi .bg-icon.gourmet-other
    {
        background : url('../../image/icon/gourmet-other.png') 0px 0px no-repeat;
    }
    
    /** shop.販売 */
    #bokumachi .bg-icon.shop
    {
        background : url('../../image/icon/shop.png') 0px 0px no-repeat;
    }
    #bokumachi .bg-icon.fashion
    {
        background : url('../../image/icon/fashion.png') 0px 0px no-repeat;
    }
    #bokumachi .bg-icon.foods
    {
        background : url('../../image/icon/foods.png') 0px 0px no-repeat;
    }
    #bokumachi .bg-icon.household
    {
        background : url('../../image/icon/household.png') 0px 0px no-repeat;
    }
    #bokumachi .bg-icon.hobby-and-culture
    {
        background : url('../../image/icon/hobby-and-culture.png') 0px 0px no-repeat;
    }
    #bokumachi .bg-icon.general-store
    {
        background : url('../../image/icon/general-store.png') 0px 0px no-repeat;
    }
    #bokumachi .bg-icon.pet
    {
        background : url('../../image/icon/pet.png') 0px 0px no-repeat;
    }
    #bokumachi .bg-icon.largescale-store
    {
        background : url('../../image/icon/largescale-store.png') 0px 0px no-repeat;
    }
    #bokumachi .bg-icon.shop-other
    {
        background : url('../../image/icon/shop-other.png') 0px 0px no-repeat;
    }
    /** shop.不動産 */
    #bokumachi .bg-icon.estate
    {
        background : url('../../image/icon/estate.png') 0px 0px no-repeat;
    }
    #bokumachi .bg-icon.lease-and-buying-selling
    {
        background : url('../../image/icon/lease-and-buying-selling.png') 0px 0px no-repeat;
    }
    #bokumachi .bg-icon.reform
    {
        background : url('../../image/icon/reform.png') 0px 0px no-repeat;
    }
    #bokumachi .bg-icon.builder
    {
        background : url('../../image/icon/builder.png') 0px 0px no-repeat;
    }
    #bokumachi .bg-icon.estate-other
    {
        background : url('../../image/icon/estate-other.png') 0px 0px no-repeat;
    }
    /** shop.宿泊施設 */
    #bokumachi .bg-icon.accommodations
    {
        background : url('../../image/icon/accommodations.png') 0px 0px no-repeat;
    }
    #bokumachi .bg-icon.hotel
    {
        background : url('../../image/icon/hotel.png') 0px 0px no-repeat;
    }
    #bokumachi .bg-icon.japanese-hotel
    {
        background : url('../../image/icon/japanese-hotel.png') 0px 0px no-repeat;
    }
    #bokumachi .bg-icon.small-hotel
    {
        background : url('../../image/icon/small-hotel.png') 0px 0px no-repeat;
    }
    #bokumachi .bg-icon.accommodations-other
    {
        background : url('../../image/icon/accommodations-other.png') 0px 0px no-repeat;
    }
    /** shop.エンターテインメント */
    #bokumachi .bg-icon.entertainment
    {
        background : url('../../image/icon/entertainment.png') 0px 0px no-repeat;
    }
    #bokumachi .bg-icon.culture
    {
        background : url('../../image/icon/culture.png') 0px 0px no-repeat;
    }
    #bokumachi .bg-icon.sports
    {
        background : url('../../image/icon/sports.png') 0px 0px no-repeat;
    }
    #bokumachi .bg-icon.amusement
    {
        background : url('../../image/icon/amusement.png') 0px 0px no-repeat;
    }
    #bokumachi .bg-icon.entertainment-other
    {
        background : url('../../image/icon/entertainment-other.png') 0px 0px no-repeat;
    }
    /** shop.ビューティ */
    #bokumachi .bg-icon.beauty
    {
        background : url('../../image/icon/beauty.png') 0px 0px no-repeat;
    }
    #bokumachi .bg-icon.hair-and-make
    {
        background : url('../../image/icon/hair-and-make.png') 0px 0px no-repeat;
    }
    #bokumachi .bg-icon.aesthetic
    {
        background : url('../../image/icon/aesthetic.png') 0px 0px no-repeat;
    }
    #bokumachi .bg-icon.relaxation
    {
        background : url('../../image/icon/relaxation.png') 0px 0px no-repeat;
    }
    #bokumachi .bg-icon.beauty-clinic
    {
        background : url('../../image/icon/beauty-clinic.png') 0px 0px no-repeat;
    }
    #bokumachi .bg-icon.beauty-other
    {
        background : url('../../image/icon/beauty-other.png') 0px 0px no-repeat;
    }
    /** shop.ライフ */
    #bokumachi .bg-icon.life
    {
        background : url('../../image/icon/life.png') 0px 0px no-repeat;
    }
    #bokumachi .bg-icon.useful
    {
        background : url('../../image/icon/useful.png') 0px 0px no-repeat;
    }
    #bokumachi .bg-icon.repair
    {
        background : url('../../image/icon/repair.png') 0px 0px no-repeat;
    }
    #bokumachi .bg-icon.ceremonial-occasion
    {
        background : url('../../image/icon/ceremonial-occasion.png') 0px 0px no-repeat;
    }
    #bokumachi .bg-icon.law
    {
        background : url('../../image/icon/law.png') 0px 0px no-repeat;
    }
    #bokumachi .bg-icon.life-other
    {
        background : url('../../image/icon/life-other.png') 0px 0px no-repeat;
    }
    /** shop.スクール・カルチャー */
    #bokumachi .bg-icon.school-and-culture
    {
        background : url('../../image/icon/school-and-culture.png') 0px 0px no-repeat;
    }
    #bokumachi .bg-icon.sports-and-martial-arts
    {
        background : url('../../image/icon/sports-and-martial-arts.png') 0px 0px no-repeat;
    }
    #bokumachi .bg-icon.cooking
    {
        background : url('../../image/icon/cooking.png') 0px 0px no-repeat;
    }
    #bokumachi .bg-icon.language
    {
        background : url('../../image/icon/language.png') 0px 0px no-repeat;
    }
    #bokumachi .bg-icon.picture-and-craft
    {
        background : url('../../image/icon/picture-and-craft.png') 0px 0px no-repeat;
    }
    #bokumachi .bg-icon.study-and-qualification
    {
        background : url('../../image/icon/study-and-qualification.png') 0px 0px no-repeat;
    }
    #bokumachi .bg-icon.japanese-tradition
    {
        background : url('../../image/icon/japanese-tradition.png') 0px 0px no-repeat;
    }
    #bokumachi .bg-icon.music
    {
        background : url('../../image/icon/music.png') 0px 0px no-repeat;
    }
    #bokumachi .bg-icon.school-and-culture-other
    {
        background : url('../../image/icon/school-and-culture-other.png') 0px 0px no-repeat;
    }
    /** shop.その他 */
    #bokumachi .bg-icon.shop-big-other
    {
        background : url('../../image/icon/shop-big-other.png') 0px 0px no-repeat;
    }
    
    
    
    /** facility **/
    #bokumachi .bg-icon.facility
    {
        background : url('../../image/icon/facility.png') 0px 0px no-repeat;
    }
    /** facility.公共施設 */
    #bokumachi .bg-icon.public
    {
        background : url('../../image/icon/public.png') 0px 0px no-repeat;
    }
    #bokumachi .bg-icon.park
    {
        background : url('../../image/icon/park.png') 0px 0px no-repeat;
    }
    #bokumachi .bg-icon.postal
    {
        background : url('../../image/icon/postal.png') 0px 0px no-repeat;
    }
    #bokumachi .bg-icon.temple-and-shrine
    {
        background : url('../../image/icon/shrine.png') 0px 0px no-repeat;
    }
    #bokumachi .bg-icon.police-and-firehouse
    {
        background : url('../../image/icon/police-and-firehouse.png') 0px 0px no-repeat;
    }
    #bokumachi .bg-icon.public-office
    {
        background : url('../../image/icon/public-office.png') 0px 0px no-repeat;
    }
    #bokumachi .bg-icon.welfare
    {
        background : url('../../image/icon/welfare.png') 0px 0px no-repeat;
    }
    #bokumachi .bg-icon.public-other
    {
        background : url('../../image/icon/public-other.png') 0px 0px no-repeat;
    }
    /** facility.交通 */
    #bokumachi .bg-icon.traffic
    {
        background : url('../../image/icon/traffic.png') 0px 0px no-repeat;
    }
    #bokumachi .bg-icon.train
    {
        background : url('../../image/icon/train.png') 0px 0px no-repeat;
    }
    #bokumachi .bg-icon.bus
    {
        background : url('../../image/icon/bus.png') 0px 0px no-repeat;
    }
    #bokumachi .bg-icon.taxi
    {
        background : url('../../image/icon/taxi.png') 0px 0px no-repeat;
    }
    #bokumachi .bg-icon.road
    {
        background : url('../../image/icon/road.png') 0px 0px no-repeat;
    }
    #bokumachi .bg-icon.parking
    {
        background : url('../../image/icon/parking.png') 0px 0px no-repeat;
    }
    #bokumachi .bg-icon.traffic-other
    {
        background : url('../../image/icon/traffic-other.png') 0px 0px no-repeat;
    }
    /** facility.医療機関 */
    #bokumachi .bg-icon.medical
    {
        background : url('../../image/icon/medical.png') 0px 0px no-repeat;
    }
    #bokumachi .bg-icon.hospital
    {
        background : url('../../image/icon/hospital.png') 0px 0px no-repeat;
    }
    #bokumachi .bg-icon.veterinary-clinic
    {
        background : url('../../image/icon/veterinary-clinic.png') 0px 0px no-repeat;
    }
    #bokumachi .bg-icon.medical-other
    {
        background : url('../../image/icon/medical-other.png') 0px 0px no-repeat;
    }
    /** facility.教育機関 */
    #bokumachi .bg-icon.educational
    {
        background : url('../../image/icon/educational.png') 0px 0px no-repeat;
    }
    #bokumachi .bg-icon.school
    {
        background : url('../../image/icon/school.png') 0px 0px no-repeat;
    }
    #bokumachi .bg-icon.child-care
    {
        background : url('../../image/icon/child-care.png') 0px 0px no-repeat;
    }
    #bokumachi .bg-icon.infant-school
    {
        background : url('../../image/icon/infant-school.png') 0px 0px no-repeat;
    }
    #bokumachi .bg-icon.elementary-school
    {
        background : url('../../image/icon/elementary-school.png') 0px 0px no-repeat;
    }
    #bokumachi .bg-icon.junior-high-school
    {
        background : url('../../image/icon/junior-high-school.png') 0px 0px no-repeat;
    }
    #bokumachi .bg-icon.high-school
    {
        background : url('../../image/icon/high-school.png') 0px 0px no-repeat;
    }
    #bokumachi .bg-icon.technical-college
    {
        background : url('../../image/icon/technical-college.png') 0px 0px no-repeat;
    }
    #bokumachi .bg-icon.university
    {
        background : url('../../image/icon/university.png') 0px 0px no-repeat;
    }
    #bokumachi .bg-icon.educational-other
    {
        background : url('../../image/icon/educational-other.png') 0px 0px no-repeat;
    }
    /** facility.金融機関 */
    #bokumachi .bg-icon.financial
    {
        background : url('../../image/icon/financial.png') 0px 0px no-repeat;
    }
    #bokumachi .bg-icon.bank
    {
        background : url('../../image/icon/bank.png') 0px 0px no-repeat;
    }
    #bokumachi .bg-icon.customer-credit
    {
        background : url('../../image/icon/customer-credit.png') 0px 0px no-repeat;
    }
    #bokumachi .bg-icon.atm
    {
        background : url('../../image/icon/atm.png') 0px 0px no-repeat;
    }
    #bokumachi .bg-icon.insurance
    {
        background : url('../../image/icon/insurance.png') 0px 0px no-repeat;
    }
    #bokumachi .bg-icon.financial-other
    {
        background : url('../../image/icon/financial.png') 0px 0px no-repeat;
    }
    /** facility.法人・団体 */
    #bokumachi .bg-icon.corp-and-org
    {
        background : url('../../image/icon/corp-and-org.png') 0px 0px no-repeat;
    }
    #bokumachi .bg-icon.company
    {
        background : url('../../image/icon/company.png') 0px 0px no-repeat;
    }
    #bokumachi .bg-icon.corporation
    {
        background : url('../../image/icon/corporation.png') 0px 0px no-repeat;
    }
    #bokumachi .bg-icon.organization
    {
        background : url('../../image/icon/organization.png') 0px 0px no-repeat;
    }
    #bokumachi .bg-icon.corp-and-org-other
    {
        background : url('../../image/icon/corp-and-org-other.png') 0px 0px no-repeat;
    }
    /** facility.その他 */
    #bokumachi .bg-icon.facility-other
    {
        background : url('../../image/icon/facility-other.png') 0px 0px no-repeat;
    }
    
    
    
    /** other **/
    #bokumachi .bg-icon.camera
    {
        padding-top : 1px;
        padding-bottom : 2px;
        background : url('../../image/icon/camera.png') 0px 0px no-repeat;
    }
    #bokumachi .bg-icon.heart
    {
        padding-top : 0px;
        padding-bottom : 2px;
        background : url('../../image/icon/heart.png') 0px 0px no-repeat;
    }
    #bokumachi .bg-icon.arrow
    {
        padding-top : 3px;
        padding-bottom : 3px;
        padding-left : 20px;
        background : url('../../image/icon/arrow.png') 0px 0px no-repeat;
    }
    #bokumachi .icon-tag
    {
        padding-top : 3px;
        padding-bottom : 3px;
        padding-left : 20px;
        background : url('../../image/icon/tag.png') 0px 0px no-repeat;
    }
    #bokumachi .icon-comment
    {
        padding-top : 3px;
        padding-bottom : 3px;
        padding-left : 20px;
        background : url('../../image/icon/comment.png') 0px 0px no-repeat;
    }
    #bokumachi .icon-arrow
    {
        padding-top : 3px;
        padding-bottom : 3px;
        padding-left : 20px;
        background : url('../../image/icon/arrow.png') 0px 0px no-repeat;
    }
    #bokumachi .bg-icon.more
    {
        background : url('../../image/icon/more.png') 0px 0px no-repeat;
    }
    #bokumachi .icon-list
    {
        padding-top : 3px;
        padding-bottom : 3px;
        padding-left : 20px;
        background : url('../../image/icon/list.png') 0px 0px no-repeat;
    }
    #bokumachi .icon-information
    {
        padding-top : 1px;
        padding-bottom : 3px;
        padding-left : 20px;
        background : url('../../image/icon/information.png') 0px 0px no-repeat;
    }
    #bokumachi .icon-badge
    {
        padding-top : 2px;
        padding-bottom : 2px;
        padding-left : 20px;
        background : url('../../image/icon/badge.png') 0px 0px no-repeat;
    }
    
    
/********************
  その他
********************/
    #bokumachi DIV.hr_dashed
    {
        height : 1px;
        background : url('../../image/layout/tag.hr.dashed.png') repeat-x;
    }
    
    #bokumachi DIV.error
    {
        margin : 5px 0px;
        padding : 7px;
        padding-left : 30px;
        color : #990000;
        background : #FEE1E1 url('../../image/icon/error.png') 5px 8px no-repeat;
        text-align : left;
    }
    #bokumachi UL.error
    {
        margin : 5px 0px;
        background : #FEE1E1;
    }
    #bokumachi UL.error LI
    {
        padding : 7px;
        padding-left : 30px;
        color : #990000;
        background : url('../../image/icon/error.png') 5px 8px no-repeat;
    }
    
    #bokumachi DIV.message
    {
        margin : 10px 0px;
        padding : 10px;
        border : 1px solid #CCCCCC;
    }
    #bokumachi DIV.message.attention
    {
        color : #990000;
        background : #FEE1E1;
    }
