/**
 * css/layout/trac.css
 * 
 * レイアウト - trac
 * 
 * @package     Samurai
 * @subpackage  www.css
 * @copyright   BEFOOL,Inc.
 * @author      Satoshi Kiuchi <satoshi.kiuchi@befool.co.jp>
 */
/** インポート **/
@import url('./standard.css');


/********************
 * layout
 *******************/
    body
    {
        margin : 0px;
        padding : 0px;
    }
    #samurai a
    {
        color : #669933 !important;
        text-decoration : none;
    }
    #samurai a:hover
    {
        text-decoration : underline;
    }
    /** header **/
    #samurai #header ul
    {
        margin : 0px;
        padding : 0px;
    }
    #samurai #header ul li
    {
        margin : 0px;
        padding : 0px;
        list-style : none;
    }
    #samurai #header ul li a.samurai
    {
        color : #333333 !important;
    }
    /** main **/
    #samurai #contents #mainnav
    {
        margin : 0px;
        border-width : 0px 0px 1px 0px;
    }
    #samurai #contents #mainnav li a
    {
        color : #333333 !important;
    }
    #samurai #contents #mainnav li.active a
    {
        color : #FFFFFF !important;
    }
    #samurai #contents #main
    {
        width : 780px;
        padding : 10px;
    }



/********************
 * main
 *******************/
    #samurai #contents #main .column
    {
        clear : both;
        margin-bottom : 15px;
    }
    /** 見出し **/
    #samurai #contents #main h2
    {
        padding : 5px 2px;
        color : #555555;
        font-size : 14px;
        font-weight : bold;
        border-bottom : 1px solid #999999;
        margin-bottom : 10px;
    }
    #samurai #contents #main h3
    {
        padding : 2px 5px;
        color : #555555;
        font-size : 14px;
        font-weight : bold;
        border-left : 8px solid #669966;
        margin-bottom : 10px;
    }
    #samurai #contents #main h4
    {
        padding : 2px 5px;
        color : #555555;
        font-size : 12px;
        font-weight : bold;
        border-left : 5px solid #666666;
        margin-left : 2px;
        margin-bottom : 10px;
    }

    /** テーブル **/
    #samurai #contents #main table.list
    {
        width : 100%;
        margin-left : 0px;
        margin-right : 0px;
    }
    #samurai #contents #main table.list td.none
    {
        text-align : right;
        border : none;
        background : #FFFFFF !important;
    }
    #samurai #contents #main table.form
    {
        width : 100%;
        margin-left : 0px;
        margin-right : 0px;
    }
    #samurai #contents #main table.form th
    {
        width : 150px;
        background : #F0F0F0;
        padding : 5px;
        text-align : left;
        vertical-align : top;
    }
    #samurai #contents #main table.form td
    {
        padding : 5px;
    }
    #samurai #contents #main table.form td.submit
    {
        padding : 10px;
        text-align : right;
    }
    #samurai #contents #main table.form td.submit input
    {
        margin : 0px 5px;
    }
    /** pager **/
    #samurai #contents #main .pager
    {
        clear : both;
        text-align : right;
    }
    /** エラー **/
    #samurai #contents #main table.form td.input .error
    {
        padding : 5px;
        padding-left : 27px;
        margin-bottom : 5px;
        color : #990000;
        background : #FEE1E1 url('../../image/icon/error.png') 5px 5px no-repeat;
        text-align : left;
    }





/********************
  ボックス
********************/
    #bokumachi #contents #main .column .box
    {
        
    }
    #bokumachi #contents #main .column .box UL.menu
    {
        margin : 10px 0px;
    }
    
    
    
    
    
    #bokumachi #contents #main TABLE.form TH
    {
        width : 115px;
        padding : 5px;
        padding-left : 10px;
        text-align : left;
        vertical-align : top;
        color : #666666;
        border : 1px solid #CCCCCC;
        background : #F5F5F5 url('../../image/layout/form.th.optional.png') left repeat-y;
    }
    #bokumachi #contents #main TABLE.form TH.required
    {
        background : #F5F5F5 url('../../image/layout/form.th.required.png') left repeat-y;
    }
