/**
 * css/action/community/forum.css
 * 
 * アクション - community - forum
 * 
 * @package     Samurai
 * @subpackage  www.css
 * @copyright   BEFOOL,Inc.
 * @author      Satoshi Kiuchi <satoshi.kiuchi@befool.co.jp>
 */
/********************
 * フォーラム詳細
 *******************/
    #samurai #contents.community.forum.show #main .description
    {
        padding : 10px;
        border : 1px solid #CCCCCC;
        background : #F5F5F5;
    }
    /** トピック一覧 **/
    #samurai #contents.community.forum.show #main .topics table.list th
    {
        border : none;
        background : #EEEEEE;
        color : #666666;
        font-weight : bold;
    }
    #samurai #contents.community.forum.show #main .topics table.list td
    {
        line-height : 1.3;
        border : 2px solid #FFFFFF;
        background : #F5F5F5;
        vertical-align : middle;
    }
    #samurai #contents.community.forum.show #main .topics table.list td.topic .subject
    {
        font-size : 13px;
        font-weight : bold;
        padding : 0px 0px 2px;
        margin-bottom : 5px;
    }
    #samurai #contents.community.forum.show #main .topics table.list td.topic .by
    {
        color : #666666;
    }
    #samurai #contents.community.forum.show #main .topics table.list td.articles
    {
        width : 110px;
        text-align : center;
        background : #F0F0F0;
    }
    #samurai #contents.community.forum.show #main .topics table.list td.last-replied
    {
        width : 210px;
        color : #666666;
    }
    #samurai #contents.community.forum.show #main .topics ul.menu
    {
        float : right;
    }
    #samurai #contents.community.forum.show #main .topics ul.menu li
    {
        float : left;
        display : inline;
        margin-bottom : 5px;
    }


/********************
 * トピック詳細
 *******************/
    /** 記事一覧 **/
    #samurai #contents.community.forum.topic.show #main .articles table.list th
    {
        border : none;
        background : #EEEEEE;
        color : #666666;
        font-weight : bold;
    }
    #samurai #contents.community.forum.topic.show #main .articles table.list th.user
    {
        width : 200px;
    }
    #samurai #contents.community.forum.topic.show #main .articles table.list td
    {
        padding : 10px;
        line-height : 1.3;
        border : none;
        border-bottom : 1px dashed #CCCCCC;
        background : #FFFFFF;
        vertical-align : top;
    }
    #samurai #contents.community.forum.topic.show #main .articles table.list tr.odd td
    {
        background : #F5F5F5;
    }
    #samurai #contents.community.forum.topic.show #main .articles table.list td.user .name
    {
        font-size : 16px;
        font-weight : bold;
    }
    #samurai #contents.community.forum.topic.show #main .articles table.list td.user .date
    {
        color : #666666;
        font-size : 10px;
    }
    #samurai #contents.community.forum.topic.show #main .articles table.list td.contents .subject
    {
        font-weight : bold;
        border-bottom : 1px dashed #999999;
        margin-bottom : 5px;
        padding-bottom : 5px;
    }
    #samurai #contents.community.forum.topic.show #main .articles table.list td.contents ul.menu
    {
        float : right;
        color : #666666;
        margin-bottom : 10px;
    }
    #samurai #contents.community.forum.topic.show #main .articles table.list td.contents ul.menu li
    {
        float : left;
        display : inline;
        margin-left : 5px;
    }
    #samurai #contents.community.forum.topic.show #main .articles table.list td.contents .body
    {
        clear : both;
    }
    /** 書き込みフォーム **/
    #samurai #contents.community.forum.topic.show #main .form-reply table.form td.input .name
    {
        width : 300px;
    }
    #samurai #contents.community.forum.topic.show #main .form-reply table.form td.input .mail
    {
        width : 300px;
        margin-bottom : 5px;
    }
    #samurai #contents.community.forum.topic.show #main .form-reply table.form td.input .subject
    {
        width : 500px;
    }
    #samurai #contents.community.forum.topic.show #main .form-reply table.form td.input .body
    {
        width : 550px;
        height : 300px;
    }
