/**
 * css/base.css
 * 
 * 基本設定
 * font-sizeやline-heightなどを調整
 * 
 * @package     Samurai
 * @subpackage  Www.Css
 * @copyright   2007-2010 Samurai Framework Project
 * @author      KIUCHI Satoshinosuke <scholar@hayabusa-lab.jp>
 */
/********************
  基本設定
********************/
    body
    {
        background : #FFFFFF url('../../image/layout/background.png') repeat fixed !important;
    }
    #samurai
    {
        color : #333333;
        font-size : 12px;
        font-family : 'ＭＳ Ｐゴシック', sans-serif;
        word-break : break-all;
        word-wrap  : break-word;
    }
    #samurai a
    {
        color : #669933;
        text-decoration : none;
    }
    #samurai a:hover
    {
        text-decoration : underline;
    }
    
    
/********************
  段落設定
********************/
    #samurai p
    {
        line-height : 1.3;
        margin : 10px 0px;
    }


/********************
 * テーブル設定
 *******************/
    #samurai #contents table
    {
        margin : 10px;
    }
    #samurai #contents table th
    {
        padding : 5px;
        color : #666666;
        border : 1px solid #CCCCCC;
        background : #F0F0F0;
    }
    #samurai #contents table td
    {
        padding : 5px;
        border : 1px solid #CCCCCC;
        vertical-align : top;
    }


/********************
 * フォーム
 *******************/
    #samurai textarea
    {
        padding : 2px;
    }


/********************
 * その他
 *******************/
    #samurai em
    {
        font-weight : bold;
    }
    #samurai ul li
    {
        line-height : 1.3;
    }
    #samurai label
    {
        vertical-align : middle;
    }
