/**
 * css/common.css
 * 
 * 共通設定
 * いたるところで使用される汎用的なクラスなどが記述される。
 * 
 * @package     Samurai
 * @subpackage  www.css
 * @copyright   BEFOOL,Inc.
 * @author      Satoshi Kiuchi <satoshi.kiuchi@befool.co.jp>
 */
/********************
  位置系
********************/
    #samurai .left
    {
        float : left;
    }
    #samurai .right
    {
        float : right;
    }
    #samurai .clear
    {
        clear : both;
    }
    
    
/********************
  テキスト関連
********************/
    #samurai .text-left
    {
        text-align : left;
    }
    #samurai .text-right
    {
        text-align : right;
    }
    #samurai .text-center
    {
        text-align : center;
    }
    #samurai .vertical-top
    {
        vertical-align : top;
    }
    #samurai .vertical-bottom
    {
        vertical-align : bottom;
    }
    #samurai .clear-lineheight
    {
        line-height : 1.3;
    }
    
    
/********************
  アイコン
********************/
    #samurai .with-icon
    {
        padding-top : 3px;
        padding-left : 22px;
        padding-bottom : 3px;
    }
    #samurai .with-icon.samurai
    {
        background : url('../image/icon/samurai.png') no-repeat left;
    }
