/**
 * css/wickey.css
 *
 * Wickey用のCSS
 *
 * @package     SamuraiWEB
 * @subpackage  Wickey
 * @copyright   2007-2009 Samurai Framework Project
 * @author      hayabusa <scholar@hayabusa-lab.jp>
 */
/********************
 * 基本
 *******************/
    .wickey .section
    {
        clear : both;
        margin-bottom : 20px !important;
        line-height : 1.3;
    }


/********************
  見出し
********************/
    .wickey .section h3
    {
        height : auto !important;
        margin-left : 0px !important;
        margin-bottom : 8px !important;
        color : #333333 !important;
        padding : 2px 5px !important;
        font-size : 14px !important;
        font-weight : bold !important;
    }
    .wickey .section h4
    {
        height : auto !important;
        margin-top : 15px;
        margin-left : 5px !important;
        margin-bottom : 10px !important;
        color : #444444 !important;
        background-image : none !important;
        padding : 1px 5px !important;
        font-size : 13px !important;
        font-weight : bold !important;
    }
    .wickey .section h5
    {
        height : auto !important;
        margin-left : 10px !important;
        margin-bottom : 8px !important;
        color : #555555 !important;
        background-image : none !important;
        padding : 2px !important;
        font-size : inherit !important;
        font-weight : bold !important;
    }
    .wickey .section h3 a,
    .wickey .section h4 a,
    .wickey .section h5 a
    {
        color : inherit !important;
    }
    .wickey .section div.h3-menu
    {
        text-align : right;
        margin-bottom : 5px !important;
        padding-top : 5px !important;
        border-top : 1px dotted #999999;
    }
    .wickey .section div.h3-menu img
    {
        margin : 0px 2px !important;
        vertical-align : middle;
    }


/********************
  ブロック要素
********************/
    .wickey .section div.paragraph
    {
        clear : both;
        line-height : 1.6;
        margin : 5px 0px 15px 5px !important;
    }
    .wickey .section table
    {
        width : 96%;
        margin : 5px auto 15px !important;
    }
    .wickey .section blockquote
    {
        margin-left : 10px !important;
        margin-bottom : 10px !important;
        padding : 5px !important;
        color : #777777;
        border-left : 2px solid #CCCCCC;
        background-color : #F5F5F5;
    }
    .wickey .section blockquote blockquote
    {
        margin-top : 5px !important;
        margin-bottom : 5px !important;
    }
    .wickey .section hr
    {
        height : 0px !important;
        border : none;
        border-top : 1px dashed #999999 !important;
        margin-bottom : 15px !important;
    }
    .wickey .section div.left
    {
        float : left !important;
        margin-bottom : 10px !important;
    }
    .wickey .section div.right
    {
        float : right !important;
        margin-bottom : 10px !important;
    }


/********************
  リスト
********************/
    .wickey .section ul,
    .wickey .section ol
    {
        margin-left : 15px;
        margin-bottom : 15px;
    }
    .wickey .section ul ul,
    .wickey .section ol ol
    {
        margin-bottom : 5px;
    }
    .wickey .section ul li
    {
        list-style-type : disc !important;
        list-style-position : inside !important;
        margin-bottom : 3px !important;
    }
    .wickey .section ul ul li
    {
        list-style-type : circle !important;
    }
    .wickey .section ul ul ul li
    {
        list-style-type : square !important;
    }
    .wickey .section ol li
    {
        list-style-type : decimal !important;
        list-style-position : inside !important;
        margin-bottom : 3px !important;
    }
    .wickey .section ol ol li
    {
        list-style-type : lower-alpha !important;
    }
    .wickey .section ol ol ol li
    {
        list-style-type : lower-roman !important;
    }


/********************
  PRE
********************/
    .wickey .section pre
    {
        width : 95%;
        margin-left : auto !important;
        margin-right : auto !important;
        margin-bottom : 10px !important;
        padding : 5px !important;
        font-size   : 90% !important;
        font-family : monospace !important;
        overflow-x : auto !important;
    }
    .wickey .section pre.code
    {
        color : #555555 !important;
        background-color : #F5F5F5 !important;
        border : 1px solid #CCCCCC !important;
    }


/********************
 * 脚注
 *******************/
    .wickey a.footnote
    {
        vertical-align : super;
    }
    .wickey p.footnote
    {
        clear : both;
        padding-top : 5px;
        font-size : 10px;
        background : url('../image/layout/tag.hr.dashed.png') top repeat-x;
    }
    
    
/********************
  画像
********************/
    .wickey .section img
    {
        margin : 10px !important;
    }
    
/********************
  外部サービス
********************/
    .wickey .external
    {
        display : block !important;
        margin-left : auto !important;
        margin-right : auto !important;
        margin-bottom : 10px !important;
    }
    .wickey OBJECT
    {
        display : block !important;
        margin-left : auto !important;
        margin-right : auto !important;
        margin-bottom : 10px !important;
    }
    .wickey EMBED
    {
        display : block !important;
        margin-left : auto !important;
        margin-right : auto !important;
        margin-bottom : 10px !important;
    }
