/**
 * css/wickey.css
 *
 * Wickey用のCSS
 *
 * @package     SamuraiWEB
 * @subpackage  Wickey
 * @copyright   2007-2009 Samurai Framework Project
 * @author      hayabusa <scholar@hayabusa-lab.jp>
 */
/********************
 * 基本
 *******************/
    .wickey .section
    {
        margin-bottom : 20px !important;
    }


/********************
  見出し
********************/
    .wickey H3
    {
        height : auto !important;
        margin-left : 0px !important;
        margin-bottom : 2px !important;
        color : #999999 !important;
        /*background : url('../image/layout/tag.hr.dashed.png') repeat-x bottom !important;*/
        padding : 2px 5px !important;
        font-size : 14px !important;
        font-weight : bold !important;
        /*border : none !important;*/
    }
    .wickey H4
    {
        height : auto !important;
        margin-left : 5px !important;
        margin-bottom : 10px !important;
        color : inherit !important;
        background-image : none !important;
        padding : 2px 5px !important;
        font-size : 13px !important;
        font-weight : bold !important;
    }
    .wickey H5
    {
        height : auto !important;
        margin-left : 10px !important;
        margin-bottom : 8px !important;
        color : inherit !important;
        background-image : none !important;
        padding : 2px !important;
        font-size : inherit !important;
        font-weight : bold !important;
    }
    .wickey H3 A,
    .wickey H4 A,
    .wickey H5 A
    {
        color : #555555 !important;
    }
    .wickey div.h3-menu
    {
        text-align : right;
        margin-bottom : 5px;
    }
    .wickey div.h3-menu img
    {
        margin : 0px 2px !important;
        vertical-align : middle;
    }
    
    
/********************
  段落
********************/
    .wickey P
    {
        clear : both;
        margin-left : 10px !important;
        margin-bottom : 10px !important;
    }
    .wickey BLOCKQUOTE
    {
        margin-left : 10px !important;
        margin-bottom : 10px !important;
        padding : 5px !important;
        border-left : 5px solid #B9F9BF !important;
    }
    .wickey BLOCKQUOTE BLOCKQUOTE
    {
        margin-top : 5px !important;
        margin-bottom : 0px !important;
    }
    .wickey HR
    {
        height : 0px !important;
        border : none;
        border-top : 1px dashed #999999 !important;
        margin-bottom : 15px !important;
    }
    
    
/********************
  リスト
********************/
    .wickey UL,
    .wickey OL
    {
        padding-left : 10px !important;
        padding-bottom : 5px !important;
    }
    .wickey UL LI
    {
        list-style-type : disc !important;
        list-style-position : inside !important;
        margin-bottom : 3px !important;
    }
    .wickey UL UL LI
    {
        list-style-type : circle !important;
    }
    .wickey UL UL UL LI
    {
        list-style-type : square !important;
    }
    .wickey OL LI
    {
        list-style-type : decimal !important;
        list-style-position : inside !important;
        margin-bottom : 3px !important;
    }
    .wickey OL OL LI
    {
        list-style-type : lower-alpha !important;
    }
    .wickey OL OL OL LI
    {
        list-style-type : lower-roman !important;
    }
    
    
/********************
  PRE
********************/
    .wickey PRE
    {
        width : 94%;
        margin-left : auto !important;
        margin-right : auto !important;
        margin-bottom : 10px !important;
        padding : 5px !important;
        font-size   : 90% !important;
        font-family : monospace !important;
        overflow-x : auto !important;
    }
    .wickey PRE.code
    {
        color : #555555 !important;
        background-color : #F2F2F2 !important;
        border : 1px solid #CCCCCC !important;
    }
    
    
/********************
  画像
********************/
    .wickey IMG
    {
        margin : 10px !important;
    }
    
/********************
  外部サービス
********************/
    .wickey .external
    {
        display : block !important;
        margin-left : auto !important;
        margin-right : auto !important;
        margin-bottom : 10px !important;
    }
    .wickey OBJECT
    {
        display : block !important;
        margin-left : auto !important;
        margin-right : auto !important;
        margin-bottom : 10px !important;
    }
    .wickey EMBED
    {
        display : block !important;
        margin-left : auto !important;
        margin-right : auto !important;
        margin-bottom : 10px !important;
    }
