<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:xi="http://www.w3.org/2001/XInclude"
      xmlns:py="http://genshi.edgewall.org/"
      py:strip="">

  <div py:def="navigation(category)" id="${category}" class="nav">
    <ul py:if="chrome.nav[category]">
      <li py:for="idx, item in  enumerate(chrome.nav[category])"
          class="${classes(first_last(idx, chrome.nav[category]), active=item.active)}">${item.label}</li>
    </ul>
  </div>

  <py:match path="body" once="true" buffer="false"><body class='trac'>
    <div id='samurai'>
        <div id='header'>
            <ul class='menu left'>
                <li><a href='/' class='with-icon samurai'>SamuraiFW</a></li>
                <li><a href='/about/samurai'>概要</a></li>
                <li><a href='/package/releases'>ダウンロード</a></li>
                <li><a href='/source/api/2.0/'>API</a></li>
                <li><a href='/documents/ja/FrontPage'>ドキュメント</a></li>
                <li><a href='/development/'>開発</a></li>
                <li><a href='/community/index'>コミュニティ</a></li>
            </ul>

            <ul class='menu right'>
                <li><a href='/etc/donate'>寄付</a></li>
                <py:choose test="req.authname">
                    <py:when test="anonymous"><li><a href='/development/login'>ログイン</a></li></py:when>
                    <py:otherwise><li><a href='/development/logout'>ログアウト</a></li><li>ようこそ！${req.authname}さん</li></py:otherwise>
                </py:choose>
            </ul>

            <div class='clear'></div>
        </div>
        <div id='contents' class='development trac'>
            <div class='top haiku'>
                <script type='text/javascript'>
                    var Haiku = new Samurai.Haiku();
                    Haiku.append2Header();
                </script>
                <span class='phrase' id='haiku-phrase'>&nbsp;</span>
                <span class='composed_by' id='haiku-composed_by'>&nbsp;</span>
                <div class='clear'></div>
            </div>
            <div class='middle'>
                <h1>開発</h1>

    ${navigation('mainnav')}

    <div id="main">
      <div id="ctxtnav" class="nav">
        <h2>Context Navigation</h2>
          <ul py:if="chrome.ctxtnav">
              <li py:for="i, elm in enumerate(chrome.ctxtnav)"
                  class="${classes(first_last(i, chrome.ctxtnav))}">$elm</li>
          </ul>
        <hr />
      </div>
      <div id="warning" py:if="chrome.warnings" class="system-message">
        <py:choose test="len(chrome.warnings)">
          <strong>Warning:</strong>
          <py:when test="1">${chrome.warnings[0]}</py:when>
          <py:otherwise><ul><li py:for="warning in chrome.warnings">$warning</li></ul></py:otherwise>
        </py:choose>
      </div>
      <div id="notice" py:if="chrome.notices" class="system-message">
        <py:choose test="len(chrome.notices)">
          <py:when test="1">${chrome.notices[0]}</py:when>
          <py:otherwise><ul><li py:for="notice in chrome.notices">$notice</li></ul></py:otherwise>
        </py:choose>
      </div>

      ${select('*|text()')}
    </div>

                <div class='clear'></div>
            </div>
            <div class='bottom'></div>
        </div>

    <div id="footer" xml:lang="en">
      <a id="tracpowered" href="http://trac.edgewall.org/"><img
        src="${chrome.htdocs_location}trac_logo_mini.png" height="30"
        width="107" alt="Trac Powered"/></a>
      <p class="left">
        Powered by <a href="${href.about()}"><strong>Trac ${trac.version}</strong></a><br />
        By <a href="http://www.edgewall.org/">Edgewall Software</a>.
      </p>
      <p class="right">${chrome.footer}</p>
      <ul class='abouts'>
        <li><a href='/about/us'>Samurai Framework Project</a></li>
        <li>&nbsp;|&nbsp;<a href='/about/privacy'>プライバシーポリシー</a></li>
      </ul>
      <div class='copyright'>
        Copyright &copy; 2009. <a href='/about/us'>Samurai Framework Project</a>. All rights reserved.
      </div>
      <div class='clear'></div>
    </div>
  </div>

  <script type='text/javascript'>
      var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
      document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
      try {
          var pageTracker = _gat._getTracker('UA-11073209-3');
          pageTracker._trackPageview();
      } catch(err) {}
  </script>

  </body></py:match>
</html>
