/**
 * css/action/community.css
 * 
 * アクション - community
 * 
 * @package     Samurai
 * @subpackage  www.css
 * @copyright   BEFOOL,Inc.
 * @author      Satoshi Kiuchi <satoshi.kiuchi@befool.co.jp>
 */
/********************
  フォーラム
********************/
    /** nearly **/
    #samurai #contents.community #main .forum table.list.nearly th.forum
    {
        width : 91px;
    }
    #samurai #contents.community #main .forum table.list.nearly td.subject .user
    {
        color : #666666;
    }
    #samurai #contents.community #main .forum table.list.nearly th.date
    {
        width : 100px;
    }
    #samurai #contents.community #main .forum table.list.nearly td.date
    {
        text-align : center;
    }

    /** forums **/
    #samurai #contents.community #main .forum table.list.forums td
    {
        line-height : 1.3;
        border : 2px solid #FFFFFF;
        background : #F5F5F5;
        vertical-align : middle;
    }
    #samurai #contents.community #main .forum table.list.forums td.forum .title
    {
        font-size : 13px;
        font-weight : bold;
        padding : 0px 0px 2px;
        margin-bottom : 5px;
    }
    #samurai #contents.community #main .forum table.list.forums td.articles
    {
        width : 110px;
        text-align : center;
        background : #F0F0F0;
    }
    #samurai #contents.community #main .forum table.list.forums td.last-posted
    {
        width : 210px;
        color : #666666;
    }
