/**
 * css/action/index.css
 * 
 * アクション - index
 * 
 * @package     Samurai
 * @subpackage  www.css
 * @copyright   BEFOOL,Inc.
 * @author      Satoshi Kiuchi <satoshi.kiuchi@befool.co.jp>
 */
/********************
  レイアウト
********************/
    #samurai #contents.index #main
    {
        width : 520px;
    }
    #samurai #contents.index #sidebar
    {
        width : 250px;
    }
    
    
/********************
  TOPイメージ
********************/
    #samurai #contents.index #topimage
    {
        width : 800px;
        height : 350px;
        position : relative;
        background : #FFFFFF url('../../image/action/index/topimage.png') no-repeat left bottom;
    }
    
    /** main menu **/
    #samurai #contents.index #topimage ul.main
    {
        width : 200px;
        position : relative;
        top : 70px;
        left : 545px;
    }
    #samurai #contents.index #topimage ul.main li a
    {
        display : block;
        color : #333333;
        padding : 10px 10px 10px 35px;
    }
    #samurai #contents.index #topimage ul.main li a:hover
    {
        background-color : #EEEEEE !important;
        text-decoration : none;
    }
    #samurai #contents.index #topimage ul.main li.download a
    {
        background : url('../../image/action/index/icon.download.png') no-repeat 5px;
    }
    #samurai #contents.index #topimage ul.main li.download .version
    {
        color : #999999;
        font-size : 10px;
    }
    
    /** sub menu **/
    #samurai #contents.index #topimage ul.sub
    {
        width : 240px;
        position : relative;
        top : 95px;
        left : 550px;
    }
    #samurai #contents.index #topimage ul.sub li
    {
        margin-bottom : 10px;
    }
    #samurai #contents.index #topimage ul.sub li a
    {
        padding : 3px 3px 4px 24px;
        background : url('../../image/icon/li.png') no-repeat 0px 0px;
    }
    #samurai #contents.index #topimage ul.sub li.blank
    {
        height : 15px;
    }
    
    
/********************
  紹介
********************/
    /** welcome **/
    #samurai #contents.index #main .welcome
    {
        margin-bottom : 20px;
    }
    #samurai #contents.index #main .welcome h2
    {
        font-size : 18px;
        font-weight : bold;
        padding : 0px;
        margin-bottom : 5px;
        background : none;
        border : none;
    }
    #samurai #contents.index #main .welcome h3
    {
        font-size : 10px;
        font-weight : bold;
        padding : 0px;
        margin-bottom : 10px;
        color : #666666;
        text-align : right;
        border : none;
    }
    #samurai #contents.index #main .welcome em
    {
        font-weight : bold;
    }

    /** points **/
    #samurai #contents.index #main .points h3
    {
        padding : 0px;
        border : none;
        font-weight : bold;
    }
    #samurai #contents.index #main .points ul li
    {
        padding : 3px 3px 4px 24px;
        background : url('../../image/icon/li.png') no-repeat 0px 0px;
    }
    #samurai #contents.index #main .points ul ul
    {
        width : 255px;
        padding-top : 10px;
        padding-left : 5px;
    }
    #samurai #contents.index #main .points ul ul li
    {
        padding : 2px 2px 3px 22px;
        line-height : 1.3;
        background : url('../../image/icon/li.li.png') no-repeat 0px 0px;
        margin-bottom : 10px;
    }


/********************
 * サイドバー
 *******************/
    #samurai #contents.index #sidebar .nearly_posted h4
    {
        padding : 5px;
        color : #FFFFFF;
        text-align : center;
        background : #C1C1C1 url('../../image/action/index/nearly.posted.header.png') no-repeat left top;
    }
    #samurai #contents.index #sidebar .nearly_posted ul
    {
        padding : 5px;
        background : #F0F0F0 url('../../image/action/index/nearly.posted.footer.png') no-repeat left bottom;
    }
    #samurai #contents.index #sidebar .nearly_posted ul li
    {
        margin-bottom : 10px;
    }
    #samurai #contents.index #sidebar .nearly_posted ul li .date
    {
        color : #666666;
        font-size : 10px;
    }
