/**
 * css/action/index.css
 * 
 * アクション - index
 * 
 * @package     Samurai
 * @subpackage  www.css
 * @copyright   BEFOOL,Inc.
 * @author      Satoshi Kiuchi <satoshi.kiuchi@befool.co.jp>
 */
/********************
  レイアウト
********************/
    #samurai #contents.index #main
    {
        width : 500px;
    }
    #samurai #contents.index #sidebar
    {
        width : 270px;
    }
    
    
/********************
  TOPイメージ
********************/
    #samurai #contents.index #topimage
    {
        width : 800px;
        height : 350px;
        position : relative;
        background : #FFFFFF url('../../image/action/index/topimage.png') no-repeat left bottom;
    }
    
    /** main menu **/
    #samurai #contents.index #topimage ul.main
    {
        width : 200px;
        position : relative;
        top : 80px;
        left : 545px;
    }
    #samurai #contents.index #topimage ul.main li a
    {
        display : block;
        color : #333333;
        padding : 10px 10px 10px 35px;
    }
    #samurai #contents.index #topimage ul.main li a:hover
    {
        background-color : #EEEEEE !important;
        text-decoration : none;
    }
    #samurai #contents.index #topimage ul.main li.download a
    {
        background : url('../../image/action/index/icon.download.png') no-repeat 5px;
    }
    #samurai #contents.index #topimage ul.main li.download .version
    {
        color : #999999;
        font-size : 10px;
    }
    
    /** sub menu **/
    #samurai #contents.index #topimage ul.sub
    {
        width : 240px;
        position : relative;
        top : 105px;
        left : 550px;
    }
    #samurai #contents.index #topimage ul.sub li
    {
        margin-bottom : 10px;
    }
    #samurai #contents.index #topimage ul.sub li a
    {
        padding : 3px 3px 3px 24px;
        background : url('../../image/icon/li.png') no-repeat;
    }
    #samurai #contents.index #topimage ul.sub li.blank
    {
        height : 15px;
    }
    
    
/********************
  紹介
********************/
    /** welcome **/
    #samurai #contents.index #main .welcome h2
    {
        font-size : 18px;
        font-weight : bold;
        margin-bottom : 10px;
    }
