/**
 * css/action/documents/wiki.css
 * 
 * アクション - documents - wiki
 * 
 * @package     SamuraiWEB
 * @subpackage  Www.Css
 * @copyright   2007-2009 Samurai Framework Project
 * @author      KIUCHI Satoshinosuke <scholar@hayabusa-lab.jp>
 */
/********************
 * 新規ページ作成
 *******************/
    #samurai #contents.documents.wiki.tools .new table.form td.input .name
    {
        width : 420px;
    }


/********************
 * 編集
 *******************/
    #samurai #contents.documents.wiki.tools .edit table.form td.input .title
    {
        width : 420px;
    }
    #samurai #contents.documents.wiki.tools .edit table.form td.input .content
    {
        width : 420px;
        height : 400px;
    }


/********************
 * diff
 *******************/
    #samurai #contents.documents.wiki.tools .merge table.diff
    {
        width : 100%;
        border : 1px solid #CCCCCC;
        margin : 10px 0px;
    }
    #samurai #contents.documents.wiki.tools .merge table.diff th
    {
        padding : 2px;
        background : #EEEEEE;
        border : 1px solid #CCCCCC;
        text-align : center;
    }
    #samurai #contents.documents.wiki.tools .merge table.diff td
    {
        padding : 2px;
        font-size   : 90%;
        font-family : 'ＭＳ ゴシック', monospace;
    }
    #samurai #contents.documents.wiki.tools .merge table.diff td.line
    {
        width : 25px;
        text-align : right;
        background : #EEEEDD;
        border : 1px solid #CCCCCC;
    }
    #samurai #contents.documents.wiki.tools .merge table.diff td.context
    {
        background : #FFFFFF;
    }
    #samurai #contents.documents.wiki.tools .merge table.diff td.added
    {
        background : #DDFFDD;
    }
    #samurai #contents.documents.wiki.tools .merge table.diff td.deleted
    {
        background : #FFDDDD;
    }
    #samurai #contents.documents.wiki.tools .merge table.diff td.conflict
    {
        color : #FFFFFF;
        background : #D87878;
    }


/********************
 * 変更履歴
 *******************/
    #samurai #contents.documents.wiki.tools .history ul.menu
    {
        padding-left : 10px;
    }
    #samurai #contents.documents.wiki.tools .history ul.menu li
    {
        list-style-type : disc;
        list-style-position : inside;
        margin-bottom : 5px;
    }
    #samurai #contents.documents.wiki.tools .history ul.menu ul.histories
    {
        padding-left : 30px;
    }
    #samurai #contents.documents.wiki.tools .history ul.menu ul.histories li
    {
        list-style-type : circle;
    }


/********************
 * 添付ファイル
 *******************/
    #samurai #contents.documents.wiki.tools .attaches ul.list li
    {
        line-height : 18px;
    }
    #samurai #contents.documents.wiki.tools .attaches ul.list li .tag
    {
        color : #666666;
    }
    #samurai #contents.documents.wiki.tools .attaches ul.list li img
    {
        vertical-align : top;
    }
    #samurai #contents.documents.wiki.tools .attach.done .example
    {
        font-weight : bold;
    }


/********************
 * コメント
 *******************/
    /** リスト **/
    #samurai #contents.documents.wiki #main .comment.column table.list
    {
        width : 100%;
        margin : 10px 0px;
    }
    #samurai #contents.documents.wiki #main .comment.column table.list td
    {
        border : none;
    }
    #samurai #contents.documents.wiki #main .comment.column table.list td.info
    {
        text-align : right;
        border-bottom : 1px dashed #CCCCCC;
    }
    #samurai #contents.documents.wiki #main .comment.column table.list td.info .date
    {
        color : #999999;
    }
    #samurai #contents.documents.wiki #main .comment.column table.list tr.last td.info
    {
        border : none;
    }
    /** 書き込み **/
    #samurai #contents.documents.wiki #main .comment.column table.form td
    {
        padding : 2px;
    }
    #samurai #contents.documents.wiki #main .comment.column table.form td.input .cname
    {
        width : 200px;
    }
    #samurai #contents.documents.wiki #main .comment.column table.form td.input .comment
    {
        width : 400px;
        height : 50px;
    }
    #samurai #contents.documents.wiki #main .comment.column table.form td.submit
    {
        text-align : right;
    }




/********************
 * サイドメニュー
 *******************/
    #samurai #contents.documents.wiki #sidebar .menu-contents.column h5
    {
        padding : 5px 5px 5px 8px;
        color : #EEEEEE;
        background : url('../../../image/action/documents/wiki/sidebar.tag.h5.png') top left no-repeat;
        border-bottom : 1px solid #999999;
    }
    #samurai #contents.documents.wiki #sidebar .menu-contents.column ul
    {
        border : 1px solid #999999;
        border-top : 1px solid #888888;
        background : #F5F5F5;
    }
    #samurai #contents.documents.wiki #sidebar .menu-contents.column ul li
    {
        margin-top: -1px;
        border-top : 1px dashed #999999;
    }
    #samurai #contents.documents.wiki #sidebar .menu-contents.column ul li a
    {
        display : block;
        padding : 3px 5px 3px 11px;
        background: url('../../../image/action/documents/wiki/sidebar.tag.li.png') 3px 7px no-repeat;
    }
    #samurai #contents.documents.wiki #sidebar .menu-contents.column ul ul
    {
        border : none;
    }
    #samurai #contents.documents.wiki #sidebar .menu-contents.column ul ul li a
    {
        padding-left : 20px;
        background: url('../../../image/action/documents/wiki/sidebar.tag.li.png') 12px 7px no-repeat;
    }
    #samurai #contents.documents.wiki #sidebar .menu-contents.column ul ul ul li a
    {
        padding-left : 29px;
        background: url('../../../image/action/documents/wiki/sidebar.tag.li.png') 21px 7px no-repeat;
    }
    #samurai #contents.documents.wiki #sidebar .menu-contents.column ul li a:hover,
    #samurai #contents.documents.wiki #sidebar .menu-contents.column ul li.selected a
    {
        background-color : #DDDDDD;
    }

