/**
 * css/layout/standard.css
 * 
 * レイアウト - ベース
 * すべてのレイアウトで共通する記述はここで行ってください。
 * 
 * @package     Samurai
 * @subpackage  www.css
 * @copyright   BEFOOL,Inc.
 * @author      Satoshi Kiuchi <satoshi.kiuchi@befool.co.jp>
 */
/********************
  header
********************/
    html
    {
        overflow : auto;
        overflow-y : scroll;
    }
    #samurai #header
    {
        width : 790px;
        margin : 0px auto 10px;
        padding : 6px;
        background : url('../../image/layout/header.background.png') no-repeat bottom;
    }
    #samurai #header ul.menu.left li
    {
        float : left;
        height : 14px;
        margin-right : 15px !important;
    }
    #samurai #header ul.menu.left li a.samurai
    {
        color : #333333;
    }
    #samurai #header ul.menu.right li
    {
        float : right;
        height : 14px;
        margin-left : 15px !important;
    }
    
    
/********************
  contents
********************/
    #samurai #contents
    {
        width : 802px;
        margin : 0px auto 10px;
    }
    #samurai #contents h1
    {
        padding : 8px 5px;
        font-size : 14px;
        font-weight : bold;
        color : #FFFFFF;
        background : url('../../image/layout/tag.h1.png') repeat-x top left;
    }
    /** パンくず **/
    #samurai #contents ul.breads
    {
        padding : 5px;
        background : url('../../image/layout/tag.hr.dashed.png') repeat-x left bottom;
    }
    #samurai #contents ul.breads li
    {
        float : left;
        margin-right : 5px;
    }
    #samurai #contents ul.breads li.selected
    {
        font-weight : bold;
    }

    /** 俳句 **/
    #samurai #contents .top.haiku
    {
        padding : 6px;
        background : url('../../image/layout/contents.background.top.png') no-repeat top;
        font-size : 10px;
        color : #999999;
    }
    #samurai #contents .top.haiku .phrase
    {
        float : left;
    }
    #samurai #contents .top.haiku .composed_by
    {
        float : right;
    }
    
    /** middle **/
    #samurai #contents .middle
    {
        padding : 0px 1px 0px 1px;
        border-top : 1px solid #999999;
        background : url('../../image/layout/contents.background.middle.png') repeat-y;
    }
    
    /** bottom **/
    #samurai #contents .bottom
    {
        height : 10px;
        padding : 1px;
        background : url('../../image/layout/contents.background.bottom.png') no-repeat bottom;
    }
    
    
    
    
    
/********************
  footer
********************/
    #samurai #footer
    {
        width : 782px;
        margin : 10px auto 0px;
        padding : 10px;
        color : #666666;
        background : url('../../image/layout/footer.background.png') no-repeat left top;
    }
    #samurai #footer h5
    {
        font-weight : bold;
        margin-bottom : 3px;
    }
    #samurai #footer ul.abouts
    {
        float : right;
    }
    #samurai #footer ul.abouts li
    {
        float : left;
        display : inline;
    }
    #samurai #footer .copyright
    {
        clear : right;
        float : right;
        margin-top : 5px;
    }
    /** Built on Samurai **/
    #samurai #footer .built_on_samurai
    {
        float : left;
        width : 250px;
        background : url('../../image/layout/tag.vr.dashed.png') repeat-y right;
    }
    #samurai #footer .built_on_samurai ul li
    {
        padding-left : 10px;
        margin-left : 10px;
        margin-bottom : 3px;
        background : url('../../image/icon/li.li.li.png') no-repeat 0px 3px;
    }
